{% extends "layout.html" %} 
{% block content %}

<div class="calculation-content-item">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 area-calculation-content">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Calculate</legend>
                        <div class="text-black">
                            {{ form.gender.label(class="form-control-label") }} {{ form.gender }}
                        </div>
                        <div class="text-black">
                            {{ form.age.label(class="form-control-label") }} {% if form.age.errors %}
                            {{ form.age(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.age.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} {{ form.age(class="form-control form-control-lg") }} {% endif %}
                        </div>
                        <div class="text-black">
                            {{ form.total_cholesterol.label(class="form-control-label") }}
                            {% if form.total_cholesterol.errors %}
                            {{ form.total_cholesterol(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.total_cholesterol.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %}
                            {{ form.total_cholesterol(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="text-black">
                            {{ form.smoker.label(class="form-control-label") }} {{ form.smoker }}
                        </div>
                        <div class="text-black">
                            {{ form.hdl_cholesterol.label(class="form-control-label") }}
                            {% if form.hdl_cholesterol.errors %}
                            {{ form.hdl_cholesterol(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.hdl_cholesterol.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} {{ form.hdl_cholesterol(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="text-black">
                            {{ form.systolic_blood_pressure.label(class="form-control-label") }}
                            {% if form.systolic_blood_pressure.errors %}
                            {{ form.systolic_blood_pressure(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.systolic_blood_pressure.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %}
                            {{ form.systolic_blood_pressure(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group mt-25">
                        {{ form.submit_values(class="btn btn-pill btn-light") }}
                    </div>
                    <div class="text-black">
                        <ul id="output-data">
                            {% if risk is defined %}
                            <li style="font-size:27px"><b>10-year risk: {{ risk }}%</b></li>
                            {% endif %}
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="calculation-image-box d-none d-lg-flex align-items-center">
        <div class="calculation-image">
            <img src="{{ url_for('static', filename='images/calculator.png') }}">
        </div>
    </div>
</div>

{% endblock content %}