{% extends "layout.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('calculation.calculate') }}">Click here to calculate</a>
        <!-- TODO: change this to show the decrypted output -->
        <ul id="output-data">
            <li>Input1: {{ data.input_value1}}</li>
            <li>Input2: {{ data.input_value2}}</li>
            <li>Output: {{ data.output_value}}</li>
        </ul>
    {% else %}
        <!-- Anonymous calculation -->
        <form>
            <!-- Default input -->
            <div class="form-group">
                <label for="formGroupExampleInput">Example label</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
            </div>
            <!-- Default input -->
            <div class="form-group">
                <label for="formGroupExampleInput2">Another label</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
            </div>
        </form>
    {% endif %}
{% endblock content %}