<!DOCTYPE html>
<html>
<head>

    {% if title %}
        <title>Better Heart - {{ title }}</title>
    {% else %}
        <title>Better Heart</title>
    {% endif %}

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="static/images/favicon.png" type="image/png">
        
    <!--====== Line Icons CSS ======-->
    <link rel="stylesheet" href="static/css/LineIcons.css">
        
    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    
    <!--====== Default CSS ======-->
    <link rel="stylesheet" href="static/css/default.css">
    
    <!--====== Style CSS ======-->
    <link rel="stylesheet" href="static/css/style.css">

</head>
<body>

      <!--====== NAVBAR START ======-->

    <section class="navbar-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                      
                        <a class="navbar-brand" href="{{ url_for('main.home') }}">
                            <img src="static/images/logo.svg" alt="Logo">
                        </a>
                        
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTwo" aria-controls="navbarTwo" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarTwo">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item active"><a href="{{ url_for('main.home') }}">Home</a></li>
                                {% if isHome and not current_user.is_authenticated %}
                                  <li class="nav-item"><a href="#services">Services</a></li>
                                  <li class="nav-item"><a href="#facts">Facts</a></li>
                                {% endif %}
                                {% if current_user.is_authenticated %}
                                    <li class="nav-item"><a href="{{ url_for('calculation.calculate') }}">Calculate</a></li>
                                    <li class="nav-item"><a href="#">Forum</a></li>
                                {% endif %}
                            </ul>
                            
                            <ul class="navbar-nav m-auto">
                                {% if current_user.is_authenticated %}
                                  <li class="nav-item"><a href="{{ url_for('users.account') }}">Account</a></li>
                                  <li class="nav-item"><a href="{{ url_for('users.logout') }}">Logout</a></li>
                                {% else %}
                                  <li class="nav-item"><a href="{{ url_for('users.login') }}">Login</a></li>
                                  <li class="nav-item"><a href="{{ url_for('users.register') }}">Register</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </nav> <!-- navbar -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== NAVBAR ENDS ======-->

    {% block content %}{% endblock %}

    <!--====== FOOTER PART START ======-->

    <section class="footer-area footer-dark">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="footer-logo text-center">
                        <a class="mt-30" href="{{ url_for('main.home') }}"><img src="static/images/logo.svg" alt="Logo"></a>
                    </div> <!-- footer logo -->
                    <ul class="social text-center mt-60">
                        <li><a href="https://facebook.com"><i class="lni lni-facebook-filled"></i></a></li>
                        <li><a href="https://twitter.com"><i class="lni lni-twitter-original"></i></a></li>
                        <li><a href="https://instagram.com"><i class="lni lni-instagram-original"></i></a></li>
                        <li><a href="https://linkedin.com"><i class="lni lni-linkedin-original"></i></a></li>
                    </ul> <!-- social -->
                    <div class="footer-support text-center">
                        <span class="number">+00-- --- ---</span>
                        <span class="mail">admin@admin.com</span>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== FOOTER PART ENDS ======-->

    <!--====== Jquery js ======-->
    <script src="static/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="static/js/vendor/modernizr-3.7.1.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="static/js/bootstrap.min.js"></script>

    <!--====== Main js ======-->
    <script src="static/js/main.js"></script>
</body>
</html>