{% extends "layout.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('calculate') }}">Click here to calculate</a>
    {% else %}
        <form>
            <!-- Default input -->
            <div class="form-group">
                <label for="formGroupExampleInput">Example label</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
            </div>
            <!-- Default input -->
            <div class="form-group">
                <label for="formGroupExampleInput2">Another label</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
            </div>
        </form>
    {% endif %}
{% endblock content %}